<div class=".container-fluid">
  <div class="row">
    <div class="mx-auto text-center">
      <h1 class="display-1">About</h1>
      <p class="lead">ながのCAKEは全国発送可能なケーキ屋さんです。</p>
      <p class="lead">お子様からお年寄りの方までお召し上がりいただけるよう、</p>
      <p class="lead">様々なバリエーションをご用意しております。</p>
      <p class="lead">また、全国発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
      <p class="lead">ぜひご注文ください。</p>
    </div>
  </div>
</div>
