<h1>ショッピングカート</h1>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th></th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.get_item_image(200, 200) %></td>
        <td><%= item.name %></td>
        <td><%= item.add_tax_price.to_s(:delimited) %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>